<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="indux"
            connectionString="Data Source=10.10.25.6;Initial Catalog=indux;Integrated Security = true"
            providerName="System.Data.SqlClient" />
      <add name="TicketTracker"
           connectionString="Data Source=10.10.25.143;Initial Catalog=TicketTracker;Persist Security Info=True;User ID=sa;Password=Dnt721976;Max Pool Size=1000"
           providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.net>  
    <mailSettings>  
      <smtp deliveryMethod="Network">  
        <network  
          host="10.10.25.187"  
          port="25"  
          defaultCredentials="false"  
        />  
      </smtp>  
    </mailSettings>  
  </system.net> 
</configuration>